#a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


#b{
    display: flex;
    flex-direction: column;
    
}

#c{
    display: flex;
    justify-content: stretch;
    align-items: center;
}


#d{
    display: flex;
    align-items: center;
    justify-content: center;
}